{% extends 'base.html' %}

{% block conteudo %}
    <h1>Carrinho</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th></th>
                <th>Preço unt.</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in carrinho %}
                {% with produto=item.produto %}
                <tr>
                    <td>
                        <a href="{% url 'detalheprod' produto.id produto.slug %}">
                            <img class="rounded" src="{% if produto.imagem %} {{ produto.imagem.url }} {% endif %}" alt="Imagem do produto {{ produto.nome }}" width="90">
                        </a>
                    </td>
                    <td>{{ produto.nome }}</td>
                    <td>
                        <form action="{% url 'carrinhoadd' produto.id %}" method="post">
                         {% csrf_token %}
                         {{ item.atualizarquantform.quantidade }}
                         {{ item.atualizarquantform.atualizar }}
                         <input class="btn btn-dark" type="submit" value="Atualizar">
                     </form>
                    </td>
                    <td>
                        <form action="{% url 'carrinhoremove' produto.id %}" method="post">
                             {% csrf_token %}
                             <input type="submit" class="btn btn-dark mt-auto" value="Remover">
                         </form>
                    </td>
                    <td>R$ {{ item.preco }}</td>
                    <td>R$ {{ item.preco_total }}</td>
                </tr>
                {% endwith %}
            {% endfor %}
        <tr>
            <td>Total</td>
            <td colspan="4"></td>
            <td>R$ {{ carrinho.get_preco_total }}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <p class="text-right">
        <a href="{% url 'listarprod' %}" class="btn btn-dark">Continuar comprando</a>
        <a href="{% url 'addpedido' %}" class="btn btn-primary">Finalizar pedido</a>
    </p>
{% endblock %}