{% extends 'base.html' %}

{% block conteudo %}

<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
      <img class="h-100 rounded mx-auto d-block" style="max-height: 300px;" src="{{ produto.imagem.url }}" alt="..." />
      <p></p>
    <h1 class="text-body-emphasis">{{produto.nome}}</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
        {{produto.descricao}}
    </p>
    <div class="d-inline-flex gap-2 mb-5">

    <form action="{% url 'addcarrinho' produto.id %}" method="post">
            {% formadd %}
          {% csrf_token %}
          <input type="submit" class="btn btn-outline-dark mt-auto" value="Adicionar ao carrinho">
    </form>

    </div>
        <li>
        {{produto.categoria}}
    </li>
  </div>

</div>

{% endblock %}